*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
}
h1{
    background-color: greenyellow;
    padding: 20px ;
    border-bottom: 2px solid black;
}
h2{
   padding: 20px ;
   border-bottom: 2px solid black;
}
h3{
    padding: 60px;
    border-bottom: 2px solid black;
}
.side{
    background-color: lightgreen;
    width: 20%;
    border-right: 2px solid black;
    float: left;
}
.main{
    background-color: lightcyan;
    width: 100%;
}
.fs{
    padding: 13px;
}